/* taking away the bad spaces created by the browsers */
* {
  padding: 0;
  margin: 0;
}
.App{
  height: 100vh;
}
main{
  height: 75%;
  
}
header{
  height: 10%;
  color: rgb(240, 255, 254);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px;
}
footer{
  height: 15%;
  color: rgb(240, 255, 254);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px;
}
.superior-left{
  width: 40%;
  background-color: rgba(220, 218, 226, 0.5);
}
.superior-right{
  width: 60%;
}

.superior-right-up{
  height: 60%;
  background-image: url('../public/images/wall.png');
  background-size: cover;
}

.superior-right-down{
  height: 40%;
  background-color: gray;
}